body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #0f106e 0%, #4b43a2 45%, #3958aa 100%);
  color: white;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0f106e;
  padding: 15px 20px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 120px; /* Adjusted for navigation height */
  width: 100%;
  max-width: 800px; /* Default size */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: max-width 0.3s ease-in-out;
}

.page-container.results {
  max-width: 2400px; /* Tripled size for displaying results */
}

h1 {
  font-size: 2.5rem;
  color: #0f106e;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
  text-align: left;
  padding-top: 20px;
}

select {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  background-color: #f7f7f7;
}

input[type="file"]::file-selector-button {
  color: black; /* Change color to black */
}

input[type="file"] {
  margin-bottom: 5px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  background-color: #f7f7f7;
  box-sizing: border-box;
  color: black;
}

p {
  font-size: 0.9rem;
  color: gray;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
}

button {
  background-color: #0f106e;
  color: white;
  padding: 12px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 100%;
}

button:hover {
  background-color: #4b1b73;
  transform: scale(1.05);
}

h3 {
  font-size: 1.5rem;
  color: #0f106e;
  width: 100%;
  text-align: center; /* Ensure title is on one line */
}

img {
  margin-top: 10px;
  width: 100%; /* Make image take up 100% of available space */
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-display {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; /* Ensure images stay in one row */
  width: 100%;
}

.compressed-image {
  margin: 10px;
  flex: 1; /* Ensure items take equal space */
  max-width: 30%; /* Ensure items do not exceed this width */
  box-sizing: border-box; /* Include padding and border in element's total width */
}

div {
  text-align: center;
}

@media (max-width: 768px) {
  nav {
    padding: 10px 15px;
  }

  .page-container {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  button {
    font-size: 0.9rem;
  }

  .compressed-image {
    width: 100%; /* Adjust for mobile screens */
  }
}
